<div id="gpmc-logo" class="mx-auto">
  <img src="/theme/images/tree.png">
  <p id="gpmc-logo-text">
    <a href="{{ link }}">
      <span id="gpmc-logo-text-grosse">Grosse</span><span class="text-spacer">&nbsp;</span><span id="gpmc-logo-text-pointe">Pointe</span>
    </a>
    <a href="{{ link }}">
      <span id="gpmc-logo-text-moms">Moms</span><span class="text-spacer">&nbsp;</span><span id="gpmc-logo-text-circle">Circle</span>
    </a>
  </p>
  <p id="gpmc-logo-tagline">At-home moms don't<br>have to stay at home</p>
</div>
